@use "variable" as v;
@use "mixin" as m;

/*下層ページabout me*/

/*profile*/
.profile {
    &__flex {
        display: flex;
        justify-content: center;
        margin-top: 120px;
        @include m.tab{
            flex-direction: column;
        }
    }

    &__inner-img {
        width: 50%;
        text-align: right;
        @include m.tab{
            width: 100%;
        }
    }
    &__img{
        width: 100%;
        display: block;
    }

    &__img img{
        width: 100%;
    }

    &__inner-white {
        width: 55%;
        height: 100%;
        background-color: #fafafa;
        border-radius: 16px;
        padding: 40px;
        margin-left: -40px;
        margin-top: 150px;
        @include m.tab{
            margin-left: 0;
            width: 100%;
            margin-top: 20px;
            padding: 24px;
        }
    }

    &__name {
        font-size: 32px;
        @include m.tab{
            font-size: clamp(20px, 6.2vw, 32px);
        }
    }

    &__name-en {
        font-family: "Caveat", cursive;
        font-size: 16px;
        display: block;
    }

    &__text {
        margin-top: 24px;
        line-height: 1.5;
        @include m.tab{
            font-size: 14px;
        }
    }
}


/*skill*/
.skill {
    &__inner {
        margin-top: 80px;
        @include m.tab{
            margin-top: 40px;
        }
    }

    .sk-list {
        display: flex;
        margin-top: 32px;
        gap: 32px;
        @include m.tab{
            flex-direction: column;
            gap: 20px;
        }

        &__list-item {
            background-color: #fafafa;
            padding: 24px;
            border-radius: 16px;
        }
    }

    .sk-item{
        &__text{
            margin-top: 20px;
            line-height: 1.5;
        }
        &__icon{
            display: flex;
            gap:8px;
            margin-top: 20px;
        }
    }
    
}

/*strengths*/
.strengths{
    &__inner{
        margin-top: 80px;
        @include m.tab{
            margin-top: 40px;
        }
    }

    .sl-list{
        display: flex;
        gap: 32px;
        margin-top: 40px;
        @include m.tab{
            flex-direction: column;
            gap: 20px;
        }

        &__list-item {
            background-color: #fafafa;
            padding: 24px;
            border-radius: 16px;
            width: calc(100% / 3);
            @include m.tab{
                width: 100%;
            }
        }
    }

    .sl-item{
        &__text{
            margin-top: 20px;
            line-height: 1.5;
        }
    }
}