@use "variable" as v;
@use "mixin" as m;

/*下層ページworksの詳細*/

/*mv*/
.d-mv {
    height: 396px;
    background: linear-gradient(to top, rgba(254, 224, 187, 0.4), rgba(244, 222, 169, 0.4), rgba(251, 245, 207, 0.4));

    @include m.tab {
        height: 250px;
    }

    &__fixed {
        position: relative;
        width: 100%;
    }

    &__wrap {
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
    }

    &__content {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);

        @include m.tab {
            display: flex;
            align-items: center;
            gap: 8px;
            top: 100px;
        }
    }

    &__content-label {
        display: inline-block;
        border: 1px solid #333;
        border-radius: 24px;
        padding: 4px 16px;

        @include m.tab {
            padding: 2px 8px;
            font-size: 14px;
        }
    }

    &__content-title {
        margin-top: 8px;
        font-size: 32px;

        @include m.tab {
            font-size: clamp(20px, 5vw, 32px);
            margin-top: 0;
        }
    }

    &__content-tag {
        font-family: "Caveat", cursive;
        font-size: 18px;
        margin-top: 8px;

        @include m.tab {
            margin-top: 0;
        }
    }

    &__img {
        display: block;
        position: relative;
        margin-left: auto;
        top: 130px;
        width: 70%;
        @include m.tab{
            width: 95%;
        }
    }
}

/*スクロール*/
.d-scroll {
    padding-inline: 20px;

    &__outer {
        text-align: center;
        margin-top: 200px;
        padding-block: 40px;
        background-color: #fafafa;
        border-radius: 16px;

        @include m.tab {
            // margin-top: clamp(90px, calc(0.4636 * 100vw - 72.27px), 345px);
            margin-top: clamp(100px, calc((340 - 100) * ((100vw - 350px) / 550) + 100px), 340px);
        }
    }

    &__text {
        margin-bottom: 40px;
        line-height: 1.5;
        text-align: left;

        @include m.tab {
            font-size: 14px;
        }
    }

    &__btn {
        margin-top: 40px;
    }

    &__content {
        height: 570px;
        overflow: auto;
        border-radius: 4px;
    }
}

//スクロールダウン
.scroll_down {
    position: relative;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll_down p {
    display: inline-block;
    position: absolute;
    top: -25px;
    right: -26px;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 50px;
    height: 175px;
    padding: 10px 18px 110px;
    color: v.$color-main;
    font-size: 14px;
    font-family: "Caveat", cursive;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    transition: .2s;
    overflow: hidden;
    margin-left: auto;
    background-color: #fafafa;
    border: 1px solid v.$color-main;
    border-radius: 16px;
}

.scroll_down p:before {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 46%;
    width: 2px;
    height: 80px;
    background: #ddd;
}

.scroll_down p:after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 46%;
    width: 2px;
    height: 80px;
    background: v.$color-main;
}

#type01 p:after {
    animation: sdl01 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes sdl01 {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    50.1% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}




/*info*/
.d-info {
    text-align: center;
    padding-inline: 20px;

    &__inner {
        text-align: left;
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;

        @include m.tab {
            font-size: 14px;
            flex-direction: column;
        }
    }

    &__head {
        width: 20%;
        border-top: 1px solid v.$color-border;
        padding-block: 16px;
        padding-left: 24px;

        @include m.tab {
            width: 100%;
            padding-bottom: 8px;
        }
    }

    &__body {
        width: 80%;
        padding-block: 16px;
        border-top: 1px solid v.$color-border;
        padding-right: 24px;
        line-height: 1.5;

        @include m.tab {
            border-top: none;
            padding-left: 24px;
            width: 100%;
            padding-top: 8px;
        }
    }

    &__btn {
        margin-top: 40px;
    }
}